/*blaxon*/
#include <stdio.h>
#include <conio.h>
main()
{
int i, n;
printf (¨numero de tabla a generar?¨)
scanf (¨%d¨,&n);
freopen )¨tabla.txt¨,¨w¨,stdout);
for(i=1;i<=n;i++)
    printf (¨%2d x %2d = %3d¨,n,i,i,*n);
     fclose (stdout);
}
